@model ProjectHost.Models.Release

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Release</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadUrl)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.DownloadUrl))
            {
                @Html.DisplayNameFor(model => model.DownloadUrl)
            }
            else
            {
                <a href="@Url.Action("Download", "Releases", new { Model.Id })">@Url.Action("Download", "Releases", new { Model.Id })</a>
            }
        </dd>

        @if (!string.IsNullOrEmpty(Model.SourceCodeUrl))
        {
            <dt>
                @Html.DisplayNameFor(model => model.SourceCodeUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceCodeUrl)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            Project RSS
        </dt>
        <dd>
            <a href="@Url.Action("Projects", "Rss", new { id = Model.ProjectId })">@Url.Action("Projects", "Rss", new { id = Model.ProjectId })</a>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
