@using ProjectHost.Models
@model IEnumerable<Project>

@{
    ViewBag.Title = "Project List";
    var latestRelease = (Dictionary<Project, Release>)ViewBag.LatestRelease;
}

<h2>Projects</h2>

@foreach (var project in Model.OrderByDescending(m => m.Id).ToList())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="@Url.Action("Index", "Releases", new {project.Id})">@Html.DisplayFor(modelItem => project.Name) <small>@project.Description</small></a>
                <span class="pull-right"><a href="@Url.Action("Projects", "Rss", new { project.Id })">RSS</a></span>
            </h3>
            
        </div>
        <div class="panel-body">
            @if (latestRelease[project] != null)
            {
                <span style="font-size: 18px;">
                    <a href="@Url.Action("Download", "Releases", new { latestRelease[project].Id })">Download the Latest Release <small>[@latestRelease[project].Version]</small></a>
                </span>
                <p>@latestRelease[project].Notes</p>
            }
            else
            {
                <a href="@Url.Action("Create", "Releases", new {project.Id})">Create a Release</a>
            }

            <p>
                @Html.ActionLink("Releases", "Index", "Releases", new { id = project.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { id = project.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete ", "Delete", new { id = project.Id }, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-default">Create Another Project</a>
</p>

@section Scripts{
    <script>
        $('[data-project-url]').on("click", function (e) {
            var projectUrl = $(this).data("projectUrl");
        })
    </script>
}
